.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    flex-basis: auto;
    padding-bottom: 20px;
}

.flex-container-justify {
    justify-content: space-between;
}

button {
    width: 100px;
    height: 25px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

th, td {
    border-bottom: 1px solid black;
}

th, td {
    height: 30px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}